body
{
    background-color: #333 !important;
}
.wrapper
{
    width: 340px;
    margin: 10% auto;
}

.tile
{
    width: 100px !important;
    height: 100px !important;
    background-color: silver;
    margin: 10px;
    position: relative;
    text-align: center;
    padding: 40px 0;
}
